*{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: arial;
}
body{
    
    height: 100vh;
    background: #374046;
}
.header {
    display: flex;
}
.title {
    
    text-align: center;
}
h1 {
    width: 300px;
    border: solid 3px white;
    margin: 20px;
    padding: 20px;
}
.dbs {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 40px;
    border-spacing: 80px 0px;
    font-size: 25px;
}

td{
    border: solid 1px white;
    padding: 10px;
    cursor: pointer;
}
.image-form {
    width: 300px;
    height: 200px;
    position: absolute; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    text-align: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#submitButton{
    background-color: #fff;
    width: 125px;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
}

.search {
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 20%;
  border: 3px solid #385060;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #010101;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #385060;
  background: #385060;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
